<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApplicationInsights.OwinExtensions" version="0.6.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights" version="2.7.2" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.7.2" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.7.2" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.ServiceFabric" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights.ServiceFabric.Native" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric" version="6.3.176" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data" version="3.2.176" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data.Extensions" version="1.4.176" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data.Interfaces" version="3.2.176" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="3.2.176" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Internal" version="3.2.176" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Services" version="3.2.176" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Services.Remoting" version="3.2.176" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.0" targetFramework="net461" />
</packages>